<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Take a photo of the renter driver license to store with the rental contract.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Select a driver license photo when the camera is unavailable.</string>
</dict>
</plist>
